# Frontend
**/.eslintcache
**/.nuxt
**/.output
**/build
**/dist
**/node_modules
/frontend/dockerfile


# Backend
**/__pycache__
**/*.py[cod]
**/static
/backend/src/settings.py


# Environment variables
pgdata/
**/.env
#coses del docker
dockerfile
docker-compose.yml

