# Frontend
**/.eslintcache
**/.nuxt
**/.output
**/build
**/dist
**/node_modules


# Backend
**/__pycache__
**/*.py[cod]
**/static
/backend/src/settings.py
/backend/venv/


# Environment variables
pgdata/
config/
**/.env
#coses del docker
dockerfile
docker-compose.yml
Dockerfile.dev.backend
Dockerfile.dev.frontend
/Docker/docker-compose.dev.yml
